* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "TT Hoves Variable",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

#main {

}

/* ------------------HEADER-------------------*/

#header {
    width: 100%;
    height: 66px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9990;
}

#layout{
    align-items: center;
    padding-left: 19.02em;
    padding-right: 35.875em;
    display: block;
}

#layout-main {
    height: 66px;
    width: 1500px;
}

#nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#nav, .subnav {
    list-style-type: none;
    cursor: pointer;
}

#nav .nav-list > li {
    display: inline-block;
}

#nav .nav-list-right > li {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

#nav .nav-list-right > li:hover > a {
    cursor: pointer;
    text-decoration: underline;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    display: inline-block;
}

#nav li a {
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    line-height: 66px;
    margin: 0 20px;
    display: inline-block;
}

#nav  .nav-list li:hover .subnav {
    display: block;
}

#nav .nav-list .subnav li:hover a,
#nav .nav-list > li:hover > a {
    color: black;
    background-color: #fff;
    text-decoration: underline;
}

#nav .nav-list .subnav {
    display: none;
    position: absolute !important;
    background-color: #fff;
    min-width: 125px;
}

#nav .nav-list .subnav a {
    width: 125px;
    font-weight: 400;
    color: black;
}

/* ------------------HEADER-------------------*/

/* ------------------SLIDER-------------------*/
#slider {
    width: 100%;
    margin: 66px 0 0 0;

}

#slider__background {
    height: 600px;
    background: url('/assets/img/slider-test.jpg') top center/ cover no-repeat;
    /* position: relative; */
}

#slider .text-content {
    width: 490px;
    height: 204px;
    color: black;
    padding: 24px;
    border: 0;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    position: absolute;
    left: 412px;
    top: 300px;
    cursor: pointer;
    border-radius: 10px;
}

#slider .text-heading {
    font-size: 32px;
    margin-bottom: 8px;
}

#slider .text-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
}

#slider .text-content .button-slider .button-idea {
    padding: 12px 20px;
    border-radius: 8px;
    background-color: #363f45;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

#slider .text-content .button-slider {
    display: inline-block;
    text-decoration: none;
    border: none;
    outline: none;
    color: red;
}

/* ------------------SLIDER-------------------*/

/* ------------------CONTENT-------------------*/

#content {
    width: 1535px;
    height: 900px;
    background-color: #fff;
    margin: 36px 250px 36px 250px;
    padding: 12px 50px;
    border: auto;
}

#content-text, #content__hotel-text, #content__activity-text {
    margin-left: 112px;
}

#content__hotel-text, #content__activity-text {
    margin-top: 36px;
}

#content-text .content__description, #content__activity-text .content__activity__description {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

#content #feature-layout, #content #content__hotel__feature-layout {
    margin-top: 36px;
    margin-left: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    cursor: pointer;
    flex: 1;
}

#feature-layout .feature-item-sidebar-one .img-hanoi {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    background: url('/assets/img/feature1.jpg') top center/ cover no-repeat;
}

#feature-layout .feature-item-sidebar-two .img-danang {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    background: url('/assets/img/feature2.jpg') top center/ cover no-repeat;

}

#feature-layout .feature-item-sidebar-three .img-saigon {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    background: url('/assets/img/feature3.jpg') top center/ cover no-repeat;

}

#feature-layout .feature-item-sidebar-four .img-phuquoc {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    background: url('/assets/img/feature4.jpg') top center/ cover no-repeat;
}

#content__hotel__feature-layout .content__hotel__feature-item-one .img-hotels {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    background: url('/assets/img/hotels-hotels.jpeg') top center/ cover no-repeat;
}

#content__hotel__feature-layout .content__hotel__feature-item-two .img-appartments {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    background: url('/assets/img/hotels-appartments.jpeg') top center/ cover no-repeat;
}

#content__hotel__feature-layout .content__hotel__feature-item-three .img-resorts {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    background: url('/assets/img/hotel-resorts.jpeg') top center/ cover no-repeat;

}

#content__hotel__feature-layout .content__hotel__feature-item-four .img-villas {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    background: url('/assets/img/hotels-villas.jpeg') top center/ cover no-repeat;
}

/* ------------------CONTENT-------------------*/

#footer{

}